<ion-view view-title="Announcements">
  <ion-content>
    <h1>Announcements</h1>
    <div class="list">
      <a href="#/iscap/thread" class="item item-icon-left">
        <i class="icon ion-document-text"></i> Announcement!
      </a>
      <a href="#/iscap/thread" class="item item-icon-left">
        <i class="icon ion-document-text"></i> Announcement!
      </a>
      <a href="#/iscap/thread" class="item item-icon-left">
        <i class="icon ion-document-text"></i> Announcement!
      </a>
      <a href="#/iscap/thread" class="item item-icon-left">
        <i class="icon ion-document-text"></i> Announcement!
      </a>
    </div>
  </ion-content>
</ion-view>