<ion-view view-title="My Account">
  <ion-content class="padding">
    <h1>Account</h1>
    <p>insert profile picture and stuff here</p>
    <ion-list>
      <ion-toggle  ng-model="settings.enableNotifications">
          Enable Notifications
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableBio">
          Show Biography
      </ion-toggle>
    	<label class="item item-input item-stacked-label">
  	    <textarea name="bio" id="bio-textarea" 
            			ng-model="settings.something">
      	</textarea>
      </label>
    </ion-list>
  </ion-content>
</ion-view>
