<ion-view view-title="FAQ">
  <ion-content class="padding">
    <section>
      <article>
        <details>
          <summary>How do I get there from here?</summary>
          <br>
          <p>&#8226;&nbsp;You can walk, drive, fly, bike, or even skedaddle. Just be sure to use the map!</p>
        </details>
        <details>
          <summary>How do I get recognized?</summary>
          <br>
          <p>&#8226;&nbsp;Write a good paper and get it published.</p>
        </details>
        <details>
          <summary>I really wanted a paper published but I didn't make the cut. What do I do?</summary>
          <br>
          <p>&#8226;&nbsp;Try again.</p>
        </details>
        <details>
          <summary>How do I save an event?</summary>
          <br>
          <p>&#8226;&nbsp;Tap on the "Save Event" button.</p>
        </details>
      </article>
    </section>
    <ion-footer>
      <ion-toolbar>
        <ion-title>
          <app-footer class="app-footer-stlye"></app-footer>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-content>
</ion-view>