<ion-view view-title="FAQ">
  <ion-content class="padding">
    <section>
      <article>
        <details>
          <summary>Step by Step Guides</summary>
          <br>
          <details>
            <summary>Getting Started</summary>
            <p>1. Signup for a free trial</p>
          </details>
          <details>
            <summary>Setting up a backup schedule</summary>
            <p>This step assumes you have already signed up and installed the software</p>
          </details>
        </details>
        <details>
          <summary>Installation/Upgrade Issues</summary>
          <br>
          <p>After setup the program doesn't start</p>
        </details>
      </article>
      
      <article>
        <details>
          <summary>SERVER Step by Step Guides</summary>
          <br>
          <details>
            <br>
            <summary>Getting Started</summary>
            <p>1. Signup for a free trial</p>
          </details>
          <details>
            <summary>Setting up a backup schedule</summary>
            <p>This step assumes you have already signed up and installed the software</p>
          </details>
        </details>
        <details>
          <summary>Installation/Upgrade Issues</summary>
          <br>
          <p>After setup the program doesn't start</p>
        </details>
      </article>
    </section>
  </ion-content>
</ion-view>